# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/

# FastAPI / Uvicorn
*.log

# Env
.env
.env.*

# Node (if frontend is included)
node_modules/
dist/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
/backend/myenv
